@media (min-width: 320px) {
  .title {
    font-size: 16px; 
    }
     .article {
     font-size: 11px;
     }
  }
  
.title {
  color: orange;
  font-size: 32px;
  
}
.article {
  color: green;
  font-size: 22px;
  
}